.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
**/src
**/tsconfig*
**/webpack.config.js
**/shared.webpack.config.js
**/node_modules
**/images